@charset "UTF-8";


*{
    padding: 0%;
    margin: 0%;
}

::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

img{
    width: 57vh;
}

a{
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: red
    ;
}